.dashboard-form {
    padding: 20px ;
    margin: 25px auto;
    max-width: 600px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;

}
.add-button {
    position: relative; 
  }
  
  .add-icon {
    position: absolute;
    right: 12px; 
    top: 50%;
    transform: translateY(-50%);
    padding-left: 100px;
  }

.dashboard-form ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    padding-top: 30px;

}

.dashboard-form ul:last-child {
    border-bottom: none;
}

.dashboard-form li {
    margin: 10px 0;
}

.dashboard-form img {
    max-width: 100px;
    border-radius: 50%;
}

.dashboard-form button {
        font-size: 16px;
        border-radius: 5px;
        background-color: #cf936c;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
}

.dashboard-form button:hover {
        background-color: #eecbb5;
}